<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Straight Shot</title>
  <link rel="icon" type="image/x-icon" href="/images/straightShot.PNG">
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
  <script defer>
    function toggleMenu() {
      const menu = document.getElementById('mobile-menu');
      menu.classList.toggle('hidden');
      document.body.classList.toggle('overflow:hidden');
    }
  </script>
</head>

<style>
  @keyframes scroll-horizontal {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }
  .animate-scroll-horizontal {
    animation: scroll-horizontal 60s linear infinite;
  }
</style>

<body class="bg-white relative">

  <!-- Section 1: Hero Section -->
  <section class=" bg-cover bg-center bg-no-repeat text-white h-[130vh]" style="background-image: url('/images/trailerpicture.png');">
    
    <div class="flex justify-between items-center p-6 ">
      <div>
        <img src="/images/transparent.png" alt="Logo" class="w-40 md:w-72 h-auto">
      </div>
      
      <div>
      <button  class="md:hidden text-red-900 focus:outline-none relative z-60" onclick="toggleMenu()">
        <svg class="w-8 h-8" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </button>

      <nav class="hidden md:flex space-x-9 text-white font-semibold text-lg">
        <a href="/" class="hover:text-red-900 tracking-widest">Home</a>
        <a href="#about" class="hover:text-red-900 tracking-widest">About</a>
        <a href="/pricing" class="hover:text-red-900 tracking-widest">Pricing</a>
        <a href="#contact" class="hover:text-red-900 tracking-widest">Contact</a>
      </nav>
      </div>
    </div>

    <div class="text-center mb-60">
      <h1 class="text-5xl font-semibold">Website Under Construction<br></h1>
      <h1 class="text-2xl font-semibold"><br>We're currently working on something great. Please check back soon!</h1>
    </div>

    <!-- Mobile Menu -->

    <div id="mobile-menu" class="hidden absolute top-0 left-0 bg-white text-red-900 text-2xl p-6 space-y-8 w-full h-screen">
      <img src="/images/transparent.png" alt="Logo" class="w-40 mb-20">
      <a href="/" class="flex font-semibold">Home</a>
      <a href="#about" class="flex font-semibold">About</a>
      <a href="/pricing" class="flex font-semibold">Pricing</a>
      <a href="#contact" class="flex font-semibold">Contact</a>
    </div>

  </section>

  <!-- Section 2: About Us -->
  <section class="bg-black text-white py-16  sm:py-24  px-6 sm:px-10" id="about">
    <div class="max-w-5xl mx-auto">
      <h2 class="text-3xl sm:text-5xl font-bold mb-6">About Us:</h2>
      <p class="text-base sm:text-lg leading-relaxed">
        At Straight Shot, we’re proud to provide reliable, convenient, and affordable trailer rentals to the Kyle community and surrounding areas. Our mission is simple: to make renting a trailer as easy and stress-free as possible. With a focus on customer satisfaction, prompt service, and top-quality equipment, we’re here to help you get the job done with confidence.
      </p>
    </div>
  </section>

  <!-- Section 3: Image Carousel-->  
  <section class="py-24 px-10 bg-white" id="carousel">
    <div class="overflow-hidden">
      <div class="flex w-max animate-scroll-horizontal">
        
        <ul class="flex">
          <li class="mx-8"><img src="/images/img1.png" class="w-60 h-48 object-cover rounded-lg" /></li>
          <li class="mx-8"><img src="/images/img2.png" class="w-60 h-48 object-cover rounded-lg" /></li>
          <li class="mx-8"><img src="/images/img3.png" class="w-60 h-48 object-cover rounded-lg" /></li>
          <li class="mx-8"><img src="/images/img4.png" class="w-60 h-48 object-cover rounded-lg" /></li>
          <li class="mx-8"><img src="/images/img6.png" class="w-60 h-48 object-cover rounded-lg" /></li>
          <li class="mx-8"><img src="/images/img7.png" class="w-60 h-48 object-cover rounded-lg" /></li>
          <li class="mx-8"><img src="/images/img8.png" class="w-60 h-48 object-cover rounded-lg" /></li>
        </ul>

        <ul class="flex" aria-hidden="true">
          <li class="mx-8"><img src="/images/img1.png" class="w-60 h-48 object-cover rounded-lg" /></li>
          <li class="mx-8"><img src="/images/img2.png" class="w-60 h-48 object-cover rounded-lg" /></li>
          <li class="mx-8"><img src="/images/img3.png" class="w-60 h-48 object-cover rounded-lg" /></li>
          <li class="mx-8"><img src="/images/img4.png" class="w-60 h-48 object-cover rounded-lg" /></li>
          <li class="mx-8"><img src="/images/img6.png" class="w-60 h-48 object-cover rounded-lg" /></li>
          <li class="mx-8"><img src="/images/img7.png" class="w-60 h-48 object-cover rounded-lg" /></li>
          <li class="mx-8"><img src="/images/img8.png" class="w-60 h-48 object-cover rounded-lg" /></li>
        </ul>

      </div>
    </div>
  </section>

  <!-- Section 4: Contact Us -->
  <section class="bg-red-900 py-20 px-6" id="contact">
  <div class="max-w-6xl mx-auto grid grid-cols-1 md:grid-cols-4 gap-10 items-start bg-white rounded-2xl shadow-lg p-10">
      <div class="text-left">
        <h2 class="text-3xl font-bold text-gray-900 mb-6 ml-10  -mt-5 md:mt-10 ">Call or text</h2>
        <p class="text-lg font-semibold text-gray-800 mb-5 ml-16 md:ml-10">979-540-7172</p>
      </div>

      <div class="text center">
        <h2 class="text-3xl font-bold text-gray-900 mb-6  ml-16 md:ml-10 -mt-5 md:mt-10 ">Email us</h2>
        <p class="text-lg font-semibold text-gray-800 mb-5 ">straightshotrentals@gmail.com</p>
      </div>

      <div class="text right">
        <h2 class="text-3xl font-bold text-gray-900 mb-6 ml-12 md:ml-10 -mt-5 md:mt-10 ">Our socials</h2>
        <div class="text-left">
          <a  href="https://www.facebook.com/straightshotrentals" class="fab fa-facebook-square text-blue-600 text-3xl ml-26 md:ml-24" ></a>
        </div>
      </div>

      <div class="text right">
        <h2 class="text-3xl font-bold text-gray-900 mb-6 ml-16 md:ml-10  -mt-5 md:mt-10 ">Location</h2>
        <p class="text-lg font-semibold text-gray-800 mb-5 ml-22 md:ml-10">Kyle, TX</p>
      </div> 
    </div>
  </section>
</body>
</html>
